.container {
    margin: 0;
}
.heading {
   
   padding: 20;
}

.form {
    margin: auto;
    width: 50%;
    padding: 30px;
}

.actionLinks {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}